* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 15% 25%;
}

.bloc-container {
  text-align: center;
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5em;
}

.blocs {
  padding: 0.5em;
  background-color: rgb(63, 153, 205);
  border: 2px solid rgb(46, 120, 163);
}

.bloc-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.bloc-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.bloc-3 {
}

.bloc-4 {
}

.bloc-5 {
}

.bloc-6 {
}
