* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bloc-container {
  display: grid;
  /* grid-template-columns: repeat(3, 200px); */
  grid-template-columns: 100px 200px;
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
}

.bg-peru {
  background-color: peru;
}

.bg-turquoise {
  background-color: turquoise;
}

.bg-violetred {
  background-color: palevioletred;
}
