* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 15% 25%;
}

.bloc-container {
  text-align: center;
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-template-columns: repeat(3, minmax(100px, auto));
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5em;
}

.blocs {
  padding: 0.5em;
  background-color: rgb(63, 153, 205);
  border: 2px solid rgb(46, 120, 163);
}

.bloc-1 {
    text-align: justify;
    text-justify: distribute;
}
